.symbol {
    width: 100px;
    height: 100px;
    animation: rotate 10s linear infinite;
    margin: 2rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.linkedpost {
    font-weight: normal;

    img {
        width: 16px;
        vertical-align: middle;
    }
}

strong {
    font-weight: 400;
}
