.heading2 {
    margin-top: 4rem;
    font-weight: 800;
}

.heading3 {
    margin-top: 3rem;
    font-weight: 800;
}

.strong {
    font-weight: 600;
}

.unorderedList {
    padding: 0;
}

.orderedList {
    padding: 0;
}

.list {
    margin-bottom: 0.4rem;
    margin-left: 1rem;
}

.codeBlock {
    margin-bottom: 4rem;
}

.codeBlockTitle {
    color: #111827;
}

.codeBlockTitle:hover {
    cursor: pointer;
}

.inlineCode {
    background-color: #111827;
    color: #ffffff;
    padding: 0 4px;
    border-radius: 3px;
}
