.audioContainer {
    text-align: center;
}

.audio {
    width: 100%;
    margin: 2rem 0;
}

.recentPostsTitle {
    margin-top: 3rem;
}

.recentPostsList {
    margin-left: 1rem;
    padding: 0;
}

.recentPostItem {
    margin-bottom: 1rem;
}
