.postList {
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 0;
}

.postItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 2rem;
}

.postTitle {
    color: #ffffff;
}

.postDate {
    font-weight: lighter;
    font-size: small;
}
