body {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable',
        Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    color: #111827;
}

code {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable',
        Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

select,
option {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable',
        Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #3b82f6;
}

strong {
    font-weight: 800;
}

a:hover {
    text-decoration: underline;
}

.root-container {
    width: 100%;
    max-width: 800px;
    margin: 3em auto;
    padding: 0 2em;
    box-sizing: border-box;
}

.content {
    text-align: left;
    width: 100%;
}

@media (max-width: 600px) {
    .root-container {
        margin: 3em 0;
        padding: 0 1rem;
    }

    body {
        font-size: 14px;
    }

    code {
        font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable',
            Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji',
            'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
        font-size: 12px;
    }
}
